/* src/components/Posts.css */

.posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.post-body {
  color: #333;
}

.post-author {
  margin-top: 10px;
  color: rgb(58, 177, 102);
  text-align: center;
  font-weight: bold;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-container input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
